<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow existing files and directories to be served normally
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other routes to index.html
  RewriteRule ^ index.html [L]
</IfModule>
